extends layout

block content
  h1= title
  p Search results for Pen 
  p 
  div(class="container-fluid")
        div(class="row")
            -
                let Pen = [
                    {
                        "Brand": "Montex",
                        "price": 15,
                        "color": "Black"
                    },
                    {
                        "Brand": "Parker",
                        "price": 10,
                        "color": "Red"
                    },
                    {
                        "Brand": "Reynolds",
                        "price": 7,
                        "color": "Blue"
                    },                   
                ]
            each v,index in Pen 
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.color}
  Script.
         function buy(intemNo) 
        {
             alert (`Your order ${intemNo+1}`)
        }